@import "src/css/variables";

.button {
  cursor: pointer;
  display: block;
  padding: 20px 40px;
  border-radius: 12px;
  transition: all ease-in 0.12s;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;

  &:hover {
    transform: scale(1.015);
  }

  &.link {
    background: transparent;
    width: 100%;
    padding: 0;
    margin-top: 20px;
    text-decoration: underline;
    font-size: 16px;
    color: #646282;
    font-weight: normal;
  }

  &.add {
    background-color: #efa94a;
    color: #561f1f;


    @media (max-width: $maxWidth) {
      margin-top:30px;
      width: 100%;
    }

    &:hover {
      background-color: #ffde53;
      box-shadow: 0 0 22px #efb448;
    }
  }

  &.save {
    background-color: #70ce3c;
    color: #ffffff;

    &:hover {
      background-color: #7aef4b;
      box-shadow: 0 0 22px #b7dc4c;
    }

    @media (max-width: $maxWidth) {
      margin-top:10px;
      width: 100%;
    }
  }

  &:disabled {
    pointer-events: none;
    cursor: none;
    background: #42405b;
    color: #53516f;
  }
}