.card {
  border-radius: 12px;
  box-shadow: 8px 8px 0 0 #191826;
  background-color: #403d58;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  transition: all ease-in 0.12s;

  &:hover {
    box-shadow: 14px 14px 0 0 #191826;
    background-color: #45425f;
  }

  &-avatar {
    height: 200px;

    img {
      max-width: 100%;
    }
  }

  &-title {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
  }

  &-description {
    padding: 20px;
  }
}