@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

.main-layout {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #211f31;
  color: #eae8dd;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 22px;
}