@import "src/css/variables";

.cards-wrap {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 900px;
  margin: 50px 0;

  @media (max-width: $maxWidth) {
    margin: 25px 0;
    width: 100%;
  }
}